.main {
  max-width: 48rem;
  justify-self: center;
  align-items: center;
}

.logo img {
  width: 5rem;
  height: 100%;
}

hr {
  width: 98%;
  background-color: #aaa;
  height: 2px;
  border: none;
  border-radius: 1px;
  margin: 0.5rem 0;
}


.contact-party {
  width: 11rem;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.coverage-data th {
  background-color: #d4dee6;
}

.coverage-data tr th:first-child {
  text-align: center;
}

.coverage-data tr th:nth-child(2),
.coverage-data tr td:nth-child(2) {
  text-align: end;
  padding-right: 0.5rem;
}

.coverage-data tr th,
.coverage-data tr td {
  width: 15rem;
  border: 2px solid black;
  font-weight: bold;
}
