<main class="main flex flex-col mt-6 ml-8 mr-8">
    <section class="header flex justify-between items-center p-4">
        <div class="logo flex flex-col items-center space-x-2">
            <img src="./images/logo.svg" alt="logo" class="mb-1" />
            <p class="text-sm font-semibold text-gray-800 uppercase">shelter insurance</p>
        </div>
        <div class="declaration flex flex-col space-around">
            <h2 class="text-2xl font-bold text-gray-800 mb-2!">House & Home Policy Declarations</h2>
            <p class="text-lg text-gray-600">Your policy effective date is {{ startDate }}</p>
        </div>
    </section>
    <hr>
    <section class="info">
        <div *ngFor="let contact of contacts | slice:0:2"  class="prop-info">
            <p>{{contact.party}}</p>
            <div>
                <p *ngIf="contact.name">{{contact.name}}</p>
                <p>{{contact.address}}</p>
            </div>
        </div>
        <div class="comp-info"></div>
        <div class="support-info"></div>
    </section>
    <hr>
    <!--<section class="period">

    </section>
    <hr>
    <section class="coverage">

    </section>
    <hr>
    <section class="house-info">

    </section> -->
</main>

<router-outlet />